.about {
  &__container {
    @include Container;
    background-color: #F0F1F1;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      padding: 0;
    }
    

  }
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: $main-font-color;
    @include tablet {
      
      width: 40%;
      margin: auto;
      padding: 20px 30px;
      
    }
    @include desktop {
      
    }
    h1 {
        letter-spacing: -0.76px;
        margin-bottom: 20px;
        font-size: 8vw;
        @include mobile {
          font-size: 5vw;
        }
        @include tablet {
          font-size: 3vw;
          margin: 0;
        }
        @include desktop {
          font-size: 3vw;
        }
        @include large-desktop {
          font-size: 2vw;
        }
      
    }
    img {
      @include responsiveDecoration;
     
      @include tablet {
        width: 40%;
        margin: 20px 0 30px 0;
      }
    
    }
    span {
      text-align: center;
      letter-spacing: -0.6px;
      font-size: 1rem;
      line-height: 2rem;
      padding: 30px 10px;
      @include mobile {
        width: 70%;
      }
      @include tablet {
        width: 100%;
        padding: 0;
        
      }
      
    }
  }
  &__image {
    width: 100%;
    height: auto;
    @include tablet {
      width: 60%;
      height: auto;
      object-fit: cover;
      object-position: top;
    }
    
   
  }
  &__signature {
    align-self: flex-end;
  }
}