.contact {
  &__container {
   @include Container;
   height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      padding: 0 100px;
      align-items: flex-end;
    }
  &:before {
    content: "";
    background-image: url("../assets/Background Image.png");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
  }
  }

  &__form {
    width: 100%;
    position: relative;
    color: $main-font-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 80%;
    }
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 35%;
      height: 100vh;
      padding: 50px 0;
     
    }

    &__header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__sentInfo {
        width: 60%;
        color: #049804;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 30px;
      }
      img {
        width: 40%;
        height: auto;
        @include mobile {
          width: 30%;
        }
        @include tablet {
          width: 25%;
        }
        @include desktop {
          width: 40%;
        }
      }
    }
    h1 {
      font-size: 8vw;
      letter-spacing: -0.76px;
      margin-bottom: 30px;
      text-align: center;
      @include mobile {
        font-size: 5vw;
      }
      @include tablet {
        font-size: 4vw;
      }
      @include desktop {
        font-size: 2vw;
      }
    }
    &__inputWrapper {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
      padding: 10px;
      @include medium-mobile {
        flex-direction: row;
      }
    }
    &__inputs {
      width: 100%;
      @include medium-mobile {
      &:first-child {
        margin-right: 10px;
      }
    }
      h2 {
        font-weight: 600;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        color: #3C3C3C26;
        font-size: 1.1rem;
      }
      &__error {
        color: red;
        margin-top: 8px;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
    input, textarea {
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 3px solid $form-font-color;
      resize: none;
      color: black;
    }
    &__textarea {
      width: 100%;
      padding: 10px;
      @include desktop {
        margin-bottom: 50px;
        padding: 20px 10px 10px 10px;
      }
      h2 {
        font-weight: 600;
        margin-bottom: 10px;
      }
      textarea {
        height: 100%;
        width: 100%;
        font-size: 1.3rem;
      }
    }
    button {
      width: 40%;
      font-size: 1.1rem;
      border: 2px solid $main-font-color;
      padding: 10px 0;
      background: transparent;
      cursor: pointer;
      margin: 30px 0;
      @include medium-mobile {
        width: 30%;
      }
      @include desktop {
        align-self: flex-end;
        margin-right: 10px;
      }
    }
  }
  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px 0;
    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
    @include desktop {
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
    }
    &__title {
      color: #3C3C3C;
      @include desktop {
        flex: 1;
        text-align: center;
      }

    }
    &__images {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      @include tablet {
        width: auto;
        margin-bottom: 0;
      }
      img:first-child {
         margin-right: 30px;
         @include tablet {
           margin-left: 30px;
         }
        
      }
    }
  }
}