@import './settings/mixins';
.foursteps {
  &__container {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    a {
       @include homepageBtn;
    }
  }
  &__header {
    font-size: 2.37rem;
    color: $main-font-color;
    letter-spacing: -0.76px;
  }
  &__maincontent {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #F0F1F1;
    flex-wrap: wrap;
    padding: 50px 90px;
    &__column {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 10px 40px;

      h3 {
        font-size: 1.12rem;
        color: $main-font-color;
        position: relative;
        padding: 10px 0;

        &:after {
          content: '';
          position: absolute;
          width: 80px;
          height: 2px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: $form-font-color;
        }
      }
      span {
        color: $main-font-color;
        font-size: 1rem;
        padding: 10px 0;
      }
    }
  }
  &__img {
    width: 73px;
    height: 73px;
    padding-bottom: 5px;
  }

}