.giveaway {
  &__form {
    @include Container;
      height: auto;
    &__important {
      background: $column-gold;
      display: flex;
      align-items: center;
      padding: 20px;
      @include tablet {
        padding: 30px 50px;
      }
      &__card {
        h1 {
          color: black;
          margin-bottom: 20px;
          font-weight: 600;
        }
        p {
          color: $main-font-color;
        }
      }
    }
    &__steps {
      background-image: url("../assets/Background-Form.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $main-font-color;
      padding: 20px;
      min-height: 80vh;
      @include desktop {
        padding: 50px;
      }
      &__successful {
          height: 100%;
          display: flex;
          flex-direction: column;
         align-items: center;
         justify-content: center;
          @include desktop {
            width: 70%;
          }
          h1 {
            font-size: 6vw;
            font-weight: 300;
            text-align: center;
            margin-bottom: 30px;
            @include medium-mobile {
              font-size: 5vw;
            }
            @include mobile {
              font-size: 4vw;
            }
            @include tablet {
              font-size: 3vw;
              width:75%;
              line-height: 55px;
            }
            @include desktop {
              font-size: 2vw;
            }
          }
            img {
              width: 30%;
              height: auto;
              @include mobile {
                width: 40%;
              }
              @include tablet {
                width: 20%;
              }
              @include desktop {
                width: 20%;
              }
            }
           
          
        

      }
      &__error {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 5px;
        color: red;
      }
      &__org {
        @include tablet {
          width: 50%;
        }
        input {
          width: 70%;
          background: transparent;
          outline: none;
          border: 2px solid $main-font-color;
          padding: 5px;
        }
      }
      &__inputs {
        h1 {
          font-weight: 600;
          color: black;
          margin-bottom: 30px;
          @include medium-mobile {
            font-size: 5vw;
          }
          @include mobile {
            font-size: 4vw;
            width: 60%;
          }
          @include tablet {
            font-size: 3vw;
          }
          @include desktop {
            font-size: 2vw;
          }
        }
        h2 {
          font-weight: 600;
          margin: 30px 0 20px 0;
        }
        select {
          background: transparent;
          border: 2px solid $main-font-color;
          font-family: inherit;
          font-size: 1rem;
          padding: 5px 50px 5px 5px;
          outline: none;
          cursor: pointer;
          option {
            background: transparent;
            cursor: pointer;
          }
        }
        &__last {
          display: flex;
          flex-direction: column;
          @include mobile {
            flex-direction: row;
          }
          @include tablet {
            width: 60%;
            justify-content: space-between;
          }
          &__data{
            display: flex;
            flex-direction: column;
            &:first-child {
              @include mobile {
                margin-right: 10px;
              }
              @include desktop {
                margin-right: 50px;
              }
            }
            h3 {
              font-size: 1.2rem !important;
              font-weight: 600 !important;
              margin-bottom: 20px !important;
            }
            label {
              display: flex;
              margin: 10px 0;
              justify-content: space-between;
              @include mobile {
                
              }
              input {
                width: 15em;
                background: transparent;
                outline: none;
                margin-left: 20px;
                border: 2px solid #737373;
              }
            }
          }
        }
        &__summary {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          color: black;
          img {
            margin-right: 20px;
          }
          p {
            font-weight: 400;
            color: black;
          }
          &__address_pickup {
            display: flex;
            flex-direction: column;            
            @include tablet {
              flex-direction: row;
              
            }
            @include desktop {
              justify-content: flex-start;
            }
          }
          &__address {
            @include desktop {
              margin-right: 100px;
            }
            &__details {
              display: flex;
              align-items: center;
              margin: 20px 0;
              p {
               width: 50%;
              }
            }
          }
          &__pickup {
            &__details {
              display: flex;
              margin: 20px 0;
              p {
                width: 50%;
                
              }
            }
          }
        }
      }
      &__inputWrapper {
        display: flex;
        align-items: center;
        margin: 30px 0;


      }
      &__main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-weight: 300;
          align-self: flex-start;
          margin-top: 20px;
          margin-bottom: 30px;
          @include desktop {
            margin-bottom: 50px;
            margin-top: 0;
          }
        }
        button {
          width: 40%;
          border: 2px solid $form-font-color;
          color: black;
          font-weight: 300;
          background: transparent;
          cursor: pointer;
          padding: 10px;
          outline: none;
          @include mobile {
            width: 30%;
            margin-right: 20px;
          }
          @include tablet {
            width: 20%;
          }
          @include desktop {
            width: 10%;
            margin: 20px 20px 0 0;
          }

        }
      }
      &__select-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
          flex-direction: row;
        }
        h2 {
          font-weight: 300;
          @include desktop {
            margin-right: 10px;
          }
        }

      }
      &__selectBox {
        position: relative;
        select {
          padding: 5px 10px;
          font-family: $font-base;
          text-align: center;
          outline: none;
          border: 2px solid $main-font-color;
          background: transparent;
          @include mobile {
            margin-left: 20px;
          }
        }
        option {
          background: transparent;
        }
      }
      &__btns {
        
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          @include mobile {
            justify-content: flex-start;
          }
        
      }
    }
    &__checkbox {
      @include desktop {
        width: 50%;
      }
    }
  }
}
.radio {
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    font-weight: 300;
  }
  &__input {
    display: none;
    &:checked + .radio__control::after {
      transform: scale(1);
    }
  }
  &__control {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid $form-font-color;
    position: relative;
    margin-right: 20px;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: $column-gold;
      transform: scale(0);
      transition: 0.15s;
    }
  }
}

.checkbox {
  &__input {
    display: none;
    &:checked + .checkbox__label::before {
      background: #fad648;

    }
  }
  &__label {
    display: inline-flex;
    position: relative;
    padding: 5px 10px;
    margin: 0 30px 20px 0;
    font-weight: 300;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '';
      border: 2px solid black;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

