.giveaway {
  &__form {
    &__important {
      height: 20vh;
      width: 100%;
      max-width: 1600px;
      background: $column-gold;
      display: flex;
      align-items: center;
      &__card {
        margin: auto 50px;
        h1 {
          color: black;
          font-size: 2.2rem ;
          margin-bottom: 20px;
          font-weight: 600;
        }
        p {
          color: $main-font-color;
        }
      }
    }
    &__steps {
      height: 90vh;
      width: 100%;
      max-width: 1600px;
      padding: 50px 50px;
      background-image: url("../assets/Background-Form.png");
      background-size: cover;
      color: $main-font-color;
      &__inputs {
        h1 {
          font-weight: 600;
          font-size: 2rem;
          color: black;
        }
      }
      &__inputWrapper {
        display: flex;
        align-items: center;
        margin: 30px 0;


      }
      &__main {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-weight: 300;
          font-size: 1.5rem;
          align-self: flex-start;
          margin-bottom: 50px;
        }
        button {
          width: 7em;
          border: 2px solid $form-font-color;
          font-size: 1.3rem;
          color: black;
          font-weight: 300;
          background: transparent;
          cursor: pointer;
          padding: 10px;
          margin-right: 20px;

        }
      }
      &__select-section {
        display: flex;
        align-items: center;
        h2 {
          font-size: 1.3rem;
          font-weight: 300;
          margin-right: 10px;
        }

      }
      &__selectBox {
        position: relative;
        select {
          padding: 0 10px;
          font-family: $font-base;
          width: 10em;
          outline: none;
          border: 1px solid $main-font-color;
          background: transparent;
        }
      }
      &__btns {
        display: flex;
      }
    }
  }
}
.radio {
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 300;
  }
  &__input {
    display: none;
    &:checked + .radio__control::after {
      transform: scale(1);
    }
  }
  &__control {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid $form-font-color;
    position: relative;
    margin-right: 20px;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: $column-gold;
      transform: scale(0);
      transition: 0.15s;
    }
  }
}

