.home {
  &__container {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    background: $body-color;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.3fr 1fr;
    grid-template-rows:  0.5fr 1.7fr 1.1fr;;
    gap: 0 0;
    grid-template-areas:
    "img img home__navigation home__navigation"
    "img img home__mainLinks home__mainLinks"
    "home__columns__container home__columns__container home__columns__container home__columns__container";
  }
  &__mainImage {
    background-image: url("../assets/Hero Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: bottom;
    //position: absolute;
    //top:0px;
    //width: 43%;
    //height: 70%;
    grid-area: img;
  }
  &__navigation {
    width: 45%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    position: absolute;
    right: 100px;

    &__btns {
      align-self: flex-end;
      padding-bottom: 10px;
      margin-top: 10px;
      height: auto;
      box-sizing: border-box;

      a {
        text-decoration: none;
        color: #737373;
        padding: 5px 10px;
        font-size: 0.9rem;

        &:hover {
          border: 2px solid $column-gold;
        }
      }
    }
    &__links {
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-top: 10px;
      box-sizing: border-box;

      a {
        text-decoration: none;
        color: #3C3C3C;
        cursor: pointer;
        font-size: 1.13rem;
        padding: 5px 10px;

        &:hover {
          border: 0.75px solid #3C3C3C;
        }

      }
    }
  }
  &__columns {
    &__container {
      width: 100%;
      padding: 10px 0;
      background-image: url("../assets/3 Columns Background.png");
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      grid-area: home__columns__container;
    }
  }
  &__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0 40px;
    h1 {
      font-size: 5.6rem;
      color: $brown-ish;
    }
    h3 {
      font-size: 1.12rem;
      color: #3C3C3C;
    }
    span {
      font-family: $font-alt;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: -0.32px;
      color: #3C3C3C;
    }
  }
  &__mainLinks {
    height: 100%;
    box-sizing: border-box;
    color: #3C3C3C;
    grid-area: home__mainLinks;
    &__contentWrapper {
      width: 86%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    &__title {
      width: 80%;
      font-size: 2.37rem;
      text-align: center;
      line-height: 55px;
    }
    &__btns {
      font-size: 2.25rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a {
        width: 8em;
        box-sizing: border-box;
        color: inherit;
        text-decoration: none;
        border: 0.75px solid #3C3C3C;
        padding: 10px 40px;
        text-align: center;
        margin: 15px;
      }
    }
  }
}