@import './settings/mixins';
.home {
  &__navigation {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    background-color: white;
    @include desktop {
      height: 20vh;
      width: 60%;
      position: absolute;
      right: 0%;

    }
    &__burger {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 10px;
      @include desktop {
        display: none;
      }
      &__wrapper {
        z-index: 100;
        cursor: pointer;
        span {
          display: block;
          width: 20px;
          height: 3px;
          margin: 5px;
          background-color: $main-font-color;
        }
      }
    }
    &__nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 95vh;
      padding: 20px;
      background-color: white;
      color: $main-font-color;
      font-size: 1.2rem;
      right: -100%;
      bottom: 0;
      transition: all .5s;
      @include small-mobile {
        width: 60%;
      }
      @include mobile {
        width: 50%;
      }
      @include tablet {
        width: 40%;
      }
      @include desktop {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 20px 50px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 0%;
      }
    }
    &__btns {
      display: flex;
      flex-direction: column;
      @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
       }
      a {
        @include Link;
        margin-bottom: 15px;
        padding: 10px;
        color: #737373;
        
        @include desktop {
          font-size: 0.8rem;
          margin: 0;
        }
        &:hover {
          border: 2px solid $column-gold;
        }
      }
      p {
        line-break: auto;
        text-align: center;
        margin-bottom: 5px;
        padding: 10px;
        &:nth-child(2) {
          font-size: 1rem;
        }
        @include desktop {
          margin: 0;
        }
      }
    
    }
    &__links {
      display: flex;
      flex-direction: column;
      @include desktop {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
      }
      a {
        @include Link;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
        @include desktop {
          margin-left: 10px;
        }
        &:hover {
          border: 2px solid $main-font-color;
        }
      }
    }
  }
  &__container {
    @include Container;
    min-height: 95vh;
    display: flex;
    &::after {
      content: "";
      position: absolute;
      bottom: 0; 
      left: 0;
      right: 0;
      top: 0; 
      opacity: .2; 
      z-index: -1;
      background: url('../assets/Hero\ Image.png');
      background-position: center center;
      background-size: cover;
      @include desktop {
        content: none;
      }
    }
  }
  &__mainImage {
    @include desktop {
      width: 40%;
      background-image: url("../assets/Hero Image.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -340px;
      }
  }
  &__columns {
    &__container {
      @include Container;
      display: flex;
      flex-direction: column;
      background-image: url("../assets/3 Columns Background.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 0;
      @include tablet {
        flex-direction: row;
        padding: 30px 0;
      }
      @include desktop {
        width: 100%;
        height: auto;
        padding: 50px 60px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
      }
    }
  }
  &__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    h1 {
      font-size: 5rem;
      color: $brown-ish;
      margin-bottom: 20px;
      @include mobile {
        font-size: 5.2rem;
      }
      @include tablet {
        font-size: 5.6rem;
      }
    }
    h3 {
      font-size: 1.12rem;
      color: #3C3C3C;
      margin-bottom: 20px;
    }
    span {
      width: 90%;
      font-family: $font-alt;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: -0.32px;
      color: #3C3C3C;
      @include mobile {
        width: 55%;
      }
      @include tablet {
        width: 70%;
      }
      @include desktop {
        width: 85%;
      }
    }
  }
  &__mainLinks {
    margin: 0 auto;
    padding: 20px;
    @include desktop {
      position: absolute;
      height: 75vh;
      width: 60%;
      bottom: 5vh;
      right: 0;
    }
    
    &__contentWrapper {
    
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include desktop {
      justify-content: flex-start;
      }
}
     
    img {
       @include responsiveDecoration;
    }
    &__title {
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 1.4rem;
      @include mobile {
        width: 80%;
        font-size: 1.8rem;
      }
      @include tablet {
        width: 70%;
        font-size: 2rem;
      }
      @include desktop {
        line-height: 55px;
        letter-spacing: -0.76px;
        width: 70%;
        font-size: 2.2rem;
        margin-top: 20px;
      }
    
    }
    &__btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
     @include tablet {
       flex-wrap: nowrap;
     }
      a {
       @include responsiveBtn;
      }
    }
  }
}
.active {
 right: 0%;
 }
