$body-color: white;
$lightgrey-border-color: #FFFFFFC9;
$main-font-color: #3C3C3C;
$send-button-font: black;
$form-font-color: #3C3C3C26;
$form-border-bottom: #707070;
$column-gold: #FAD648;
$brown-ish: #5E5322;



