$body-color: white;
$lightgrey-border-color: rgba(255, 255, 255, 0.79);
$main-font-color: #3c3c3c;
$send-button-font: black;
$form-font-color: #3C3C3C26;
$form-border-bottom: #707070;
$column-gold: #fad648;
$brown-ish: #5E5322;



