@media screen and (max-width: 768px) {
 .home {
     &__columns {
         &__container {
             height: auto;
             flex-wrap: wrap;
         }
     }
 }
    .foursteps {
        &__container {
            a {
                margin: 20px 0 0 0;
                width: 60%;
                padding: 20px 0;
            }
            h1 {
                font-size: 2rem;
            }
            img {
                margin: 20px;
            }
        }
        &__maincontent {
            padding: 20px;
        }
    }
    .about {
        &__container {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        &__text {
            width: 100%;
            span {
                font-size: 1.2rem;
            }
        }
        &__signature {
            width: 50%;
            margin-bottom: 10px;
        }
       &__image { 
            width: 100%;
            height: auto;
        }
    }
    .foundations {
        &__container {
            height: auto;
        }
        &__header {
            width: 100%;
            box-sizing: border-box;
            span {
                font-size: 1rem;
                width: 100%;
                margin: 10px;
            }
            &__nav {
                display: flex;
                flex-direction: column;
            
                a {
                font-size: 1.2rem;
                margin: 0;
                }
            }
        }
        &__content {
            width: 100%;
            &__list__item {
                padding: 15px 0;
                h1 {
                    font-size: 1rem;
                }
            }
        }
    }
    .contact {
        &__container {
            padding: 50px;
        }
        &__form {
            width: 100%;
            margin: 0;
           
        }
        &__footer {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            box-sizing: border-box;
            &__title {
                padding: 5px;

            }
            &__images {
                margin-right: 0;
                img {
                    margin-right: 5px !important;
                }
            }
        }
    }
}

