
@mixin Btn {
        box-sizing: border-box;
        color: inherit;
        text-decoration: none;
        border: 3px solid #737373;
        text-align: center;
        width: 60%;
        padding: 15px 25px;
        font-size: 1.1rem;
}

@mixin responsiveDecoration {
        height: auto;
        width: 40%;
        @include mobile {
          width: 30%;
          }
}

@mixin Container {
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;
        box-sizing: border-box;
}

@mixin Link {
      text-decoration: none;
      color: inherit;  
      cursor: pointer;
      border: 2px solid transparent;
      text-align: center;
}
@mixin small-mobile {
        @media screen and (min-width: 376px) {
                @content;
        }
}
@mixin mobile {
        @media screen and (min-width: 576px) {
                @content;
        }
}
@mixin tablet {
        @media screen and (min-width: 768px) {
                @content;
        }
}
@mixin desktop {
        @media screen and (min-width: 992px) {
                @content;
        }
}